<div id="chatbot">
  <div id="messages" style="min-height:200px; border:1px solid #ccc; padding:10px;"></div>
  <input id="chat-input" style="width:80%;" />
  <button id="send-btn">Send</button>
</div>
<script type="module" src="/chatbot.js"></script>