<div id="chatbot" class="chatbot-container">
  <div id="messages" class="chatbot-messages"></div>
  <div class="chatbot-input-row">
    <input id="chat-input" class="chatbot-input" placeholder="Type your message..." autocomplete="off" />
    <button id="send-btn" class="chatbot-send-btn">Send</button>
  </div>
</div>
<link rel="stylesheet" href="/chatbot.css">
<script type="module" src="/chatbot.js"></script>